$primary-color: #f11f5e;
$success-color: #4ac718;
$danger-color: #ffee00;
$base-color: #e4e4e4;

@mixin breakpoint($point) {
    @if $point == pc {
        @media (min-width: 1200px) {
            @content;
        }
    } @else if $point == tablet {
        @media (min-width: 550px) {
            @content;
        }
    } @else if $point == mobile {
        @media (max-width: 550px) {
            @content;
        }
    }
}

@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    height: 28rem;
    box-shadow: 0px 1px 5px 0px #a7a7a7;
    width: 90%;
    @include breakpoint(tablet) {
        width: 70%;
    }
    @include breakpoint(pc) {
        width: 28rem;
    }
}

@mixin icon {
    font-size: 5em;
    border: 3px solid;
    border-radius: 50%;
}
@keyframes fadeInLeft {
    0% {
        margin-left: 25%;
        opacity: 0%;
    }

    100% {
        margin-left: 0;
        opacity: 100%;
    }
}
