@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import "vars&mixins";
// general
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
html {
    box-sizing: border-box;
}
body {
    all: unset;
    background-color: lighten($primary-color, $amount: 45);
}
a {
    text-decoration: none;
}


h3 {
    font-size: 1.75rem;
    font-weight: 400;
}